---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="jaosber" description="Curiosidad por los sistemas complejos, algoritmos y las matemáticas visuales." showTagline={true}>


  <p>
    Mi nombre es Jaime. Estudio ingeniería de sistemas y computación. Me gusta entender cómo funcionan las cosas desde algoritmos hasta sistemas complejos.
  </p>

  <p>
    Me interesan los gráficos por computador, la simulación, y el punto donde las matemáticas se vuelven visuales. La complejidad de los circuitos integrados y las redes neuronales artificiales me cautiva. Creo que todo se puede reducir a ecuaciones y máquinas de Turing. En ocasiones escribo sobre lo que voy descubriendo.
  </p>

  <p>
    También me fascina la ciencia ficción y el universo que sigue pareciéndome misterioso.<span class="cursor-blink"></span>
  </p> 

  <ul>
    <li><a href="resume/jbcv.pdf" target="_blank">CV</a></li>
    <!-- <li><a href="https://linkedin.com/in/usuario" target="_blank">LinkedIn</a></li> -->
    <!-- <li><a href="jaimeoscarvs@gmail.com">Contacto</a></li> -->
  </ul>

</div>


</BaseLayout>
